@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #f0f8ff; /* Color de fondo */
        color: #333333; /* Color del texto */
    }
</style>
<div class="text-center">
    <h1 class="display-4">ABM Sucursales</h1>
    <img src="https://www.latisinformatica.com/img/backImg/multisuc.png" width="500" height="500" />
</div>
